﻿.abcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color:ghostwhite;
    min-height:450px;
    width:75%;
    margin: 0 auto;
}

.abcard:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.5);

}
.abcard a:hover{
    text-decoration:none

}
.abcard div.h3{
    font-family: Oswald;
    font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
    background-color:#eab88e;
}
.abcard img{
    width:100%;
}
.abcardcontainer{
    padding: 2px 16px;
}

