﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#chatContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat {
    border-bottom-width: 0px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 97px;
    height: auto;
    width: 300px;
}

.chat-title {
    padding: 0.5em;
    background-color: rgb(72, 133, 193);
    color: white;
}

.chat-content {
    height: auto;
}

.text {
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 120px;
}

.text-higher {
    height: 200px;
    background-color: rgb(244, 241, 236);
    list-style-type: none;
}

.form-control{
     border: 0px;
     border-radius: 0px;
}

.inputText {
    width: 100%;
}

#message {
    max-width: none;
}

input {
    max-width: none;
}

.btn-group button[type=radio]:checked {
    background-color: black;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.saving {
    opacity:0;
    transition: all .5s linear
}

.sync {
    
    transition: all .5s linear
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}


#connectedUsers{            
            padding:10px;
        }
#connectedUserBox{
    display:inline-block;
            background-color:antiquewhite;  
            padding:10px;
}
#connectedUserContainer{
    display:inline-block;
    padding: 3px;  
}