﻿@font-face{
        font-family: "5thgradecursive-2";
        src:url('../customFonts/5thgradecursive-2.ttf') format('truetype');
}
#logoText:hover{
    text-decoration:none;
    color:lightgrey;
}
#logoText{
    color:white;

}