﻿
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body{
        background-color:#d7ccb7;
    }
    .jumbotron{
        opacity:0;
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -khtml-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .navbar {
        display: none;
    }
    .body-content {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #lightbulb {
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -khtml-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

        #lightbulb:hover {
            -webkit-filter: drop-shadow(0px 0px 7px rgb(248, 252, 64));
        }

    .vertical-divider {
        padding: 50px;
    }

    button {
        text-transform: none;
        padding: 35px;
        padding-left: 125px;
        padding-right: 125px;
        font-size: 20px;
        border-radius:10px;
        background-color: hsl(201, 91%, 24%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b9be9", endColorstr="#054d74");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#0b9be9), to(#054d74));
        background-image: -moz-linear-gradient(top, #0b9be9, #054d74);
        background-image: -ms-linear-gradient(top, #0b9be9, #054d74);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b9be9), color-stop(100%, #054d74));
        background-image: -webkit-linear-gradient(top, #0b9be9, #054d74);
        background-image: -o-linear-gradient(top, #0b9be9, #054d74);
        background-image: linear-gradient(#0b9be9, #054d74);
        border-color: #054d74 #054d74 hsl(201, 91%, 18%);
        color: #fff !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
        -webkit-font-smoothing: antialiased;
        transition: all linear 0.5s;
        background-size:1px 200px;  
    }
    button:hover{
         background-position:100px;  
    }
</style>

<div class="main-content">
    <div class="jumbotron" style="width:100%;margin-bottom:0px;text-align:center">
        <h1><text style="border-bottom:2px solid black;padding-bottom:5px">Compose Together</text></h1>
        <p class="lead">Compose music with friends in a real time and collaborative web environment!</p>
        <button id="getstarted">Get Started</button>
        <script>
            $("#getstarted").click(function () {
                localStorage.setItem('firstVisit','false');
                location.href='@Url.Action("Login", "Account")';
            });
        </script>
        

    </div>
    <div class="jumbotron" style="background-color:rgba(234, 186, 125, 0.64);margin-bottom:0px">
        <div class="row vertical-divider">
            <div class="col-xs-6">
                <h1 style="padding-bottom:20px">Explore your musical side</h1>
                <div style="font-size:25px;padding:15px">Let your imagination run wild with a natural interface.</div>

            </div>
            <div class="col-xs-6">
                <img src="~/Content/staticimgs/icons/singlepersonworkingonlaptop.svg" width="45%" height="45%" style="display:inline-block;margin-left:28%;margin-right:auto;" />
                <img id="lightbulb" src="~/Content/staticimgs/icons/lightbulbwithjltinit.svg" width="5%" height="5%" style="display:inline-block;margin-bottom:235px;" />
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-color:rgba(236, 226, 208, 0.64);margin-bottom:0px">
        <div class="row vertical-divider">
            <div class="col-xs-6">
                <h1 style="padding-bottom:20px">Collaborate in real time</h1>
                <div style="font-size:25px;padding:15px">Write music with multiple people, on the same sheet, at the same time!</div>
            </div>
            <div class="col-xs-6">
                <img src="~/Content/staticimgs/icons/groupofpeople.svg" width="45%" height="45%" style="display:block;margin-left:auto;margin-right:auto;" />
                @* img or flat icon large of sheet can go here *@
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-color:rgba(208, 233, 236, 0.78);margin-bottom:0px">
        <div class="row vertical-divider">
            <div class="col-xs-6">
                <h1 style="padding-bottom:20px">Distribute Quickly</h1>
                <div style="font-size:20px;padding:15px">Great for working with students, orchestras, and bands!</div>
            </div>
            <div class="col-xs-6">
                <img src="~/Content/staticimgs/icons/paperairplane.svg" width="45%" height="45%" style="display:block;margin-left:auto;margin-right:auto;" />
                @* img or flat icon large of sheet can go here *@
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on('load', (function () {
        $('.jumbotron').each(function (i) {
            $(this).delay((i + 1) * 250).fadeTo("slow",2000);
        });
    }));
</script>