﻿@model ComposeTogether.Models.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="@Url.Content("/Content/myJS/projectPages.js")"></script>
</head>

<style>
    #addUser:hover{
        text-decoration:none;
    }
</style>

<div class="jumbotron" style="width:100%;margin-bottom:0px;text-align:center">
    <h1><text style="border-bottom:2px solid black;padding-bottom:5px">New Project</text></h1>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <h3 style="text-align:center;" id="titleDisplay">-Untitled Project-</h3>
    <div class="form-horizontal">
        <h4 style="vertical-align:central" id="titleDisplay"></h4>
        <div class="form-group">
            @Html.LabelFor(model => model.projTitle, "Project Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.privateProj,"Private Project", htmlAttributes: new { @class = "control-label col-md-2", @title = "Allow Only specific users to view this project" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input data-val="true" data-val-required="The privateProj field is required." id="privateProj" name="privateProj" type="checkbox" value="true">
                    <div id="addAllowedUsersSection" style="visibility:hidden">
                        <label style="visibility:visible">Add Allowed User</label>
                        
                        <input style="visibility:visible" id="in" type="text" placeholder="john123@gmail.com" />
                        <a style="visibility:visible;color:rgba(21, 134, 62, 0.94);" class="glyphicon glyphicon-plus-sign" id="addUser"></a>
                        <div style="visibility:visible" class="results">
                            <ul style="visibility:visible" class="list">
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.privateProj, "Allow Editing", htmlAttributes: new { @class = "control-label col-md-2", @title = "Allow all authorized viewers mentioned to edit this project" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input data-val="true"  checked data-toggle="toggle" data-size="small"  data-val-required="The allowEdit field is required." id="allowEdit" name="allowEdit" type="checkbox" value="true">
                    @Html.ValidationMessageFor(model => model.privateProj, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.projDescrip,"Project Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("projDescrip", htmlAttributes: new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.projDescrip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
