﻿@model ComposeTogether.Models.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myJS/cardStyle.css" />
</head>
@using (Html.BeginForm("Details", "Projects", FormMethod.Post))
{
    <div>
            
            <div class="jumbotron" style="width:100%;margin-bottom:0px;text-align:center">
                <button type="submit" style="background:none; border:none;padding:0;outline:none;color:lightgreen;"><span style="height:75%;width:75%" class="glyphicon glyphicon-pencil"></span></button>
                <h1><text style="border-bottom:2px solid black;padding-bottom:5px">@Model.projTitle</text></h1>
           

            </div>


            @if (Model.allowEdit == true || Model.userID == ViewBag.userid)
            {
                <div style="padding:15px;">
                    <h2>
                        <a href="#" onclick="location.href='@Url.Action("CreateNew", "Create", new { id = Model.projectID })'">
                            <div class="createSheetContainer">
                                <img class="addSheetButton" src="~/Content/staticimgs/icons/addsheetmusicicon.svg" />
                                <div class="text">Create Sheet</div>
                            </div>
                        </a>
                    </h2>
                    <style>
                        .body-content {
                            width: 100%;
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                        .abcard {
                            
                        }

                        .addSheetButton {
                            vertical-align: middle;
                            border: 2px solid black;
                            border-radius: 10px;
                            max-width: 20%;
                            max-height: 6%;
                            padding: 14px;
                            background-color: #2cc732;
                            -o-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            -khtml-transition: all 0.3s linear;
                            -webkit-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }

                            .addSheetButton:hover {
                                background-color: #2cc732;
                                box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
                            }

                        .createSheetContainer {
                            display: inline-block;
                        }

                            .createSheetContainer:hover div.text {
                                opacity: 1;
                                -webkit-transition: all 0.3s linear;
                                -o-transition: all 0.3s linear;
                                -ms-transition: all 0.3s linear;
                                -moz-transition: all 0.3s linear;
                                transition: all 0.3s linear;
                                left: 10px;
                            }

                        .text {
                            -webkit-transition: all 0.3s linear;
                            -o-transition: all 0.3s linear;
                            -ms-transition: all 0.3s linear;
                            -moz-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                            position: relative;
                            opacity: 0;
                            left: 0px;
                            display: inline;
                        }
                    </style>

                </div>
            }

            @foreach (var item in ViewBag.listOfSheets)
            {
                <div class="col-sm-4">
                    <div class="abcard">
                        <div class="h3" style="text-align:center">
                            @item.title
                        </div>
                        <div class="h5" style="text-align:center">@item.genre</div>
                        <div style="text-align:right">
                            <a href="#" id="deleteButton" style="padding:5px;color:grey;font-size:20px;" class="glyphicon glyphicon-trash"></a>
                            @* Need to make on click ^ *@
                        </div>
                        <img src="~/Content/staticimgs/sheetmusicone.jpg" />
                        <div class="abcardcontainer">
                            <button type="button" value="View" onclick="location.href='@Url.Action("Index", "Create", new { id = ""+item.sheetID})'" class="btn btn-default">View</button>
                        </div>



                    </div>
                    <input style="visibility:hidden" type="text" name="prID" value="@item.projectID" />
                </div>
            }
    </div>
    <input style="visibility:hidden" type="text" name="prID" value="@Model.projectID" />
}
