﻿@model ComposeTogether.Models.Project

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="@Url.Content("/Content/myJS/projectPages.js")"></script>
</head>

<h2 class="jumbotron">Edit your project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3 style="text-align:center;" id="titleDisplay">@ViewBag.curProject.projTitle</h3>
    <div class="form-horizontal">
        <h4 style="vertical-align:central" id="titleDisplay"></h4>
        <div class="form-group">
            @Html.LabelFor(model => model.projTitle, "Project Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projTitle, new { htmlAttributes = new { @class = "form-control" ,@Value = ""+@ViewBag.curProject.projTitle } })
                @Html.ValidationMessageFor(model => model.projTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.privateProj, "Private Project", htmlAttributes: new { @class = "control-label col-md-2", @title = "Allow Only specific users to view this project" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("privateProj")
                    <script>
                        $(document).ready(function () {
                            var privateProj = @ViewBag.curProject.privateProj.ToString().ToLower();
                             if(privateProj){
                                 $('#privateProj').trigger('click');
                                 
                             }
                            else{
                             $('#privateProj').prop('checked', false)
                            }
                        });
                    </script>
                    @Html.ValidationMessageFor(model => model.privateProj, "", new { @class = "text-danger" })

                    <div id="addAllowedUsersSection" style="visibility:hidden">
                        <label style="visibility:visible">Add Allowed User</label>

                        <input style="visibility:visible" id="in" type="text" placeholder="Enter Usernames that are allowed to view this Project" />
                        <a style="visibility:visible" class="glyphicon glyphicon-plus-sign" id="addUser"></a>
                        <div style="visibility:visible" class="results">
                            <ul style="visibility:visible" class="list"></ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.privateProj, "Allow Editing", htmlAttributes: new { @class = "control-label col-md-2", @title = "Allow all authorized viewers mentioned to edit this project" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("allowEdit")
                    <script>
                        $(document).ready(function () {
                            var allowEdit = @ViewBag.curProject.allowEdit.ToString().ToLower();
                             if(allowEdit){
                              $('#allowEdit').trigger('click');
                             }
                            else{
                             $('#allowEdit').prop('checked', false)
                            }
                        });
                    </script>
                    @Html.ValidationMessageFor(model => model.privateProj, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.projDescrip, "Project Description", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextArea("projDescrip", htmlAttributes: new { @class = "form-control", @style="height:150px"})
                <script>
                    $("#projDescrip").html("@ViewBag.curProject.projDescrip");
                </script>
                @Html.ValidationMessageFor(model => model.projDescrip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
