﻿@model ComposeTogether.Models.ProjectModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myJS/cardStyle.css" />
    <script src="~/Content/myJS/projDelete.js" type="text/javascript"></script>
</head>
<style>
    .body-content {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<div class="jumbotron" style="width:100%;margin-bottom:0px;text-align:center">
    <h1><text style="border-bottom:2px solid black;padding-bottom:5px">Projects</text></h1>
</div>
@foreach (var item in ViewBag.data)
{
    using (Html.BeginForm("Index", "Projects", FormMethod.Post))
    {

        <div class="col-lg-4">
            <div class="abcard">

                <div class="h3" style="text-align:center">
                    @item.projTitle
                </div>
                <div style="text-align:right">
                    <a href="#" id="deleteButton" style="padding:5px;color:grey;font-size:20px;" class="glyphicon glyphicon-trash"></a>
                    @* Need to make on click ^ *@
                </div>
                <img src="~/Content/staticimgs/pianosheetmusic.jpg">
                <div class="abcardcontainer">
                    <input type="submit" value="View" class="btn btn-default" id="submitProj" />
                </div>
                <div>
                    
                </div>


            </div>
            <input style="visibility:hidden" type="text" name="prID" value="@item.projectID" />
        </div>
    }


}


