﻿
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea,
input,
.form-control{
    max-width:280px;
}


.btn btn-default dropdown-toggle{
    
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
footer {
    background-color: rgba(30, 82, 116, 0.78);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 5px 50px;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -khtml-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.jumbotron{
    background-color:rgba(236, 226, 208, 0.64);
}

.navbar-inverse{

    -o-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -khtml-transition: all 0.5s linear;
            -webkit-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            transition: all 0.5s linear;

}
.navbar-inverse:hover{
    background-color:#18415C;


}

.btn{
     background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Translucent_50_percent_white.png)
    -o-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -khtml-transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

.btn:hover {
      background-image:none;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a{
    -o-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -khtml-transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
            border: 1px solid #eee;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:rgba(255, 255, 255, 0.58);
    border:1px solid black;
    color: #4e4e48;
    text-decoration: none;
}

.dropdown-menu > li > a{
    color:black;
}

