﻿@model ComposeTogether.Models.Sheet

@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="@Url.Content("/Content/myJS/projectPages.js")"></script>
</head>

<h2 class="jumbotron">Score Settings</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="text-align:center;" id="titleDisplay">-Untitled Score-</h4>
        <hr />
        <div class="form-group">
            <input type="hidden" id="shnoo" name="shnoo" value="@ViewBag.projectID" />
            @Html.LabelFor(model => model.title, "Title: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="padding-bottom:50px">
            @Html.LabelFor(model => model.genre, "Genre: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line ui-autocomplete-input awesomplete" id="genre" name="genre" type="text" value="" data-multiple>
                <script>
                    new Awesomplete('input[id=genre]', {
                        list: ["Jazz", "Classical", "Romantic", "Blues", "Swing", "Jazz Fusion"],
                        minChars: 1,
                        maxItems: 5,
                        filter: function (text, input) {
                            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
                        }
                    });

                    $('#genre').keyup(function() {
                     var $th = $(this);
                    $th.val( $th.val().replace(/[^a-zA-Z ]/g, function(str) { swal("Oops...","Only english alphabetical letters should go in here!","error"); return ''; } ) );
                    });
                    $('#TimeSignature').keyup(function () {
                        var $th = $(this);
                        $th.val($th.val().replace(/[^0-9]/g, function (str) { swal("Oops...", "Only the numbers 1-9 should go in here!", "error"); return ''; }));
                    });
                </script>
                @Html.ValidationMessageFor(model => model.genre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Intial Settings</label>
            <hr />
            <div class="col-md-10">
                <div class="row">
                        <label class="control-label col-md-2">Time Signature:</label>
                        <input class="form-control text-box" id="TimeSignature" name="TimeSignature" type="text" readonly="readonly" placeholder="4 = 4/4  , 3 = 3/4" style="display:inline-block" min="1" max="9">
                        <div class="input-group-btn-vertical" style="display:inline-block">
                            <button class="btn btn-default" id="upcarattime" style="height:23px" type="button"><i class="fa fa-caret-up"></i></button>
                            <button class="btn btn-default" id="downcarattime" style="height:23px" type="button"><i class="fa fa-caret-down" style="vertical-align:central"></i></button>
                        </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Clef:</label>
                    <select name="Clef" id="Clef" class="form-control dropdown single-line">
                        <option class="" value="Treble">Treble</option>
                        <option value="Bass">Bass</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitPage" disabled value="Create" class="btn btn-default" />
                <script>

                    $('#Clef, #upcarattime,#downcarattime, #title').bind('keyup click', function () {
                        if (allFilled()) $('#submitPage').removeAttr('disabled');
                    });


                    function allFilled() {
                        var filled = true;
                        $('body input').not("#genre").each(function () {
                            if ($(this).val() == '') filled = false;
                        });
                        return filled;
                    }
                </script>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 6px;
  padding-bottom:2px;
  margin-left: -25px;
  position: relative;
  border-radius: 0;
  background-color:white;
  outline:none;
}

.input-group-btn-vertical > .btn:hover {
  background-color:lightgrey;
  outline:none;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 6px;
  left: 6px;
  color:black;
}
</style>

<script>
    $('#upcarattime').on('click', function () {
        var btn = $(this);
        var input = $("#TimeSignature");
        if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max')) || input.val() == "") {
            if (input.val() == "") {
                input.val(0);
            }
            input.val(parseInt(input.val(), 10) + 1);
        } else {
            btn.next("disabled", true);
        }
    });
    $('#downcarattime').on('click', function () {
        var btn = $(this);
        var input = $("#TimeSignature");
        if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min')) || input.val() == "") {
            if (input.val() == "") {
                input.val(9);
            }
            else
                input.val(parseInt(input.val(), 10) - 1);
        } else {
            btn.prev("disabled", true);
        }
    });
</script>