﻿
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html>


<head>
    <style>
        .btn:focus, .btn:active {
            outline: none;
        }
    </style>
    <link rel="stylesheet" href="~/Content/myJS/chatCSS.css" />
    <script src="~/Content/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="~/Content/reimg.js"></script>
    <script src="~/Content/vextab-div.js" type="text/javascript"></script>
    <script src="~/Content/myJS/sheetButtons.js" type="text/javascript"></script>
    <script src="~/Content/myJS/chatJS.js" type="text/javascript"></script>



    <style>
        #deleteLastNote:focus {
            outline: none;
        }

        .nav-tabs > li > a {
            transition: color 0.3s;
            transition: background-color 0.3s;
        }

            .nav-tabs > li > a:hover {
                color: #6d6d6d;
                background-color: #e4e2df;
            }

        .btn {
            text-transform: none;
        }
        
    </style>

</head>
<body>


    <input type="hidden" id="displayname" />
    @{

    }
    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
        <script src="~/signalr/hubs"></script>



        <script>
            //in order to access viewbag data in javascript I had to do some <script> stuff here BEFORE I introduced the signalRSheets.js
            var safeStringValue = "@ViewBag.username";
            var curname = " " + safeStringValue;
            var sheetID = @ViewBag.sheetID;
            var curBeats = @ViewBag.curBeats;
            var curKey = "@ViewBag.curKey";
        </script>


        <script>

        </script>


    }

    <div class="panel panel-default">
        <div class="panel-heading">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab">Sheet Settings</a></li>
                <li><a href="#tools" role="tab" data-toggle="tab">Notation Tools</a></li>
                <li class="saving" style="float:right;"><span  style="font-size:25px" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving...</li>
                <li class="sync" style="float:right;"><span  style="font-size:25px" class="glyphicon glyphicon-cloud"></span>Synced</li>

            </ul>
        </div>
        <div class="panel-body tab-content">
            <div class="tab-pane fade in active" id="home">
                <button type="button" id="helpbutton" style="height:59px" class="btn btn-primary-outline">Help</button>
                <button type="button" id="showEditorButton" style="height:59px" class="btn btn-primary-outline">Raw Editor</button>
                <button type="button" id="savebutton" style="height:59px" class="btn btn-primary-outline">Save Notation</button>
                <button type="button" id="downloadSheet" style="height:59px" class="btn btn-primary-outline">Download As Image</button>
                <button type="button" id="savetocloudbutton" class="btn btn-primary-outline">Save To Cloud<i style="font-size:25px" class="glyphicon glyphicon-cloud-upload"></i></button>
                <a href="#" class="button" id="btn-download" download="@ViewBag.sheetTitle" style="display:none">Download</a>



            </div>
            <div class="tab-pane fade" id="tools">
                <div style="display:inline-block;*display:inline;">
                    <div style="display:inline-block;*display:inline;" class="dropdown">
                        <label style="vertical-align:top" for="keyPicker">Key</label>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Select Key
                            <span class="caret"></span>
                        </button>



                        <ul id="keyPicker" class="dropdown-menu">
                            <li id="C"><a>C</a></li>
                            <li id="G"><a>G</a></li>
                            <li id="D"><a>D</a></li>
                            <li id="A"><a>A</a></li>
                            <li id="E"><a>E</a></li>
                            <li id="B"><a>B</a></li>
                            <li id="F#"><a>F#</a></li>
                            <li id="C#"><a>C#</a></li>
                            <li id="Ab"><a>Ab</a></li>
                            <li id="Eb"><a>Eb</a></li>
                            <li id="Bb"><a>Bb</a></li>
                            <li id="F"><a>F</a></li>
                        </ul>
                        <style>
                            .tab-content {
                                background-color: rgba(156, 183, 142, 0.81);
                            }

                            .dropdown-menu > li > a {
                                text-transform: none;
                                cursor: pointer;
                                cursor: hand;
                            }

                            .verticalbar {
                                border-left: 1px solid #f8f5f0;
                            }

                            label {
                                padding-right: 5px;
                            }

                            #accenticon {
                                width: 90%;
                                height: 90%;
                            }

                            #accentdownarrow {
                                width: 10px;
                                height: 40px;
                            }

                            #accentpositionicon {
                            }
                        </style>
                    </div>
                    <div style="display:inline-block;*display:inline;padding-right:10px">
                        <button class="btn btn-default" type="button" id="changeLastKey">
                            Change Key
                        </button>
                    </div>
                    <div class="verticalbar" style="display:inline-block;padding:5px;padding-top:15px;padding-bottom:15px">&nbsp;</div>
                    <label for="lyricalnote" style="vertical-align:top">Special Notes </label>
                    <div style="display:inline-block;*display:inline;padding-right:10px">
                        <button type="button" id="lyricalnote" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                            Lyrical Note
                        </button>
                    </div>
                    <div class="verticalbar" style="display:inline-block;padding:5px;padding-top:15px;padding-bottom:15px">&nbsp;</div>
                    <label style="vertical-align:top">Accidentals </label>
                    <div style="display:inline-block;*display:inline;padding-right:10px">
                        <div class="btn-group" id="accidentals">
                            <button type="button" id="flat" style="font-size:25px" class="btn btn-primary">
                                ♭
                            </button>
                            <button type="button" id="sharp" style="font-size:20px" class="btn btn-primary">
                                ♯
                            </button>
                            <button type="button" id="natural" style="font-size:25px" class="btn btn-primary">
                                ♮
                            </button>
                        </div>
                    </div>
                    <div class="verticalbar" style="display:inline-block;padding:5px;padding-top:15px;padding-bottom:15px">&nbsp;</div>
                    <label style="vertical-align:top">Accents </label>
                    <button type="button" id="accentdownarrow" class="btn btn-primary">
                        <img id="accentpositionicon" src="~/Content/staticimgs/icons/accentpositiondownarrow.svg" style="margin-left:-9px;margin-top:-2px;" />
                    </button>
                    <div style="display:inline-block;*display:inline;padding-right:10px">
                        <div class="btn-group" id="accents">
                            <button type="button" id="staccato" class="btn btn-primary">
                                <img id="accenticon" src="~/Content/staticimgs/icons/staccatoicon.svg" />
                            </button>
                            <button type="button" id="accent" class="btn btn-primary">
                                <img id="accenticon" src="~/Content/staticimgs/icons/accenticon.svg" />
                            </button>
                            <button type="button" id="tenuto" class="btn btn-primary">
                                <img id="accenticon" src="~/Content/staticimgs/icons/tenutoicon.svg" />
                            </button>
                        </div>
                    </div>





                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                    @* NEED TO IMPLEMENT CHORDS? *@
                </div>
                <hr />
                <div style="display:inline-block;*display:inline;padding-right:10px">
                    <button type="button" id="dottednote" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Dotted Note
                    </button>
                </div>
                <div style="display:inline-block;*display:inline;" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Note Length
                        <span class="caret"></span>
                    </button>
                    <ul id="noteLengths" class="dropdown-menu">
                        <li id=":1"><a>Whole</a></li>
                        <li id=":2"><a>Half</a></li>
                        <li id=":4"><a>Quarter</a></li>
                        <li id=":8"><a>Eighth</a></li>
                        <li id=":16"><a>Sixteenth</a></li>
                        <li id=":32"><a>Thirtysecondth</a></li>
                    </ul>
                </div>
                <div style="display:inline-block;*display:inline;" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" id="noteLetterSelectButton" type="button" data-toggle="dropdown">
                        Select Note
                        <span class="caret"></span>
                    </button>
                    <ul id="noteLetters" class="dropdown-menu">
                        <li id="A"><a>A</a></li>
                        <li id="B"><a>B</a></li>
                        <li id="C"><a>C</a></li>
                        <li id="D"><a>D</a></li>
                        <li id="E"><a>E</a></li>
                        <li id="F"><a>F</a></li>
                        <li id="G"><a>G</a></li>
                    </ul>
                </div>
                <div style="display:inline-block;*display:inline;" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Octave
                        <span class="caret"></span>
                    </button>
                    <ul id="noteOctaves" class="dropdown-menu">
                        <li id="4"><a>4</a></li>
                        <li id="5"><a>5</a></li>
                    </ul>
                </div>
                <div style="display:inline-block;*display:inline;">
                    <button class="btn btn-default" type="button" id="deleteLastNote">
                        Delete Last Note
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="connectedUsers">
       
    </div>
    <div id="canvasScrollPanel" style="overflow-y: scroll;overflow-x: hidden;position:relative; height:600px">
        <h2 style="padding:50px;text-align:center" id="titleOfSheet">@ViewBag.sheetTitle</h2>

        <div id="noteRawText" class="vex-tabdiv"
             width=1000 height=500 scale=1 editor="true"
             editor_width=680 editor_height=330>@ViewBag.notationText</div>


        </div>


        <style>
            .vex-canvas {
                border: dashed;
                padding: 20px;
            }
        </style>


        <div id="chatContainer">


            <div class="chat" id="{id}">
                <div class="chat-title" id="minimize">
                    <span>Chat</span>
                    <span id="chatcaret" class="caret"></span>
                    <style>
                        #chatcaret {
                            transform: rotate(180deg);
                        }
                    </style>

                    <div style="display:inline;float:right;">
                        <i class="fa fa-commenting"></i>
                        <span id="chatTicker" class="badge shoppingBadge shoppingBadge-custom">5</span>
                    </div>
                    
                </div>
                <div class="chat-content" style="display:none;">
                    <div class="text text-higher"> </div>
                    <div class="chatbox">
                        <input type="text" id="message" class="form-control" style="padding:0px 10px" placeholder="Send a message with enter!" />
                        <input type="button" id="sendmessage" style="display:none" value="Send" />
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
