﻿
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html>


<head>
    <style>
        .btn:focus, .btn:active {
            outline: none;
        }
    </style>
    <link rel="stylesheet" href="~/Content/myJS/chatCSS.css" />
    <script src="~/Content/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="~/Content/reimg.js"></script>
    <script src="~/Content/vextab-div.js" type="text/javascript"></script>
    <script src="~/Content/myJS/sheetButtons.js" type="text/javascript"></script>
    <script src="~/Content/myJS/chatJS.js" type="text/javascript"></script>


    @section scripts{
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
        <script src="~/signalr/hubs"></script>

        <script>
            //in order to access viewbag data in javascript I had to do some <script> stuff here BEFORE I introduced the signalRSheets.js
            
            var safeStringValue = "@ViewBag.username";
            var curname = " " + safeStringValue;
            var sheetID = @ViewBag.sheetID;
            var curBeats = @ViewBag.curBeats;
            var curKey = "@ViewBag.curKey";

            $(function(){
                var timeresetter = setInterval(timereset, 500);
                function timereset (){
                    idleTime = 0;
                }
                $('.vex-canvas').click(function(){
                    swal("You can't interact as a viewer!")
                });
            });
            
        </script>

    }

    <style>
        #deleteLastNote:focus {
            outline: none;
        }

        .nav-tabs > li > a {
            transition: color 0.3s;
            transition: background-color 0.3s;
        }

            .nav-tabs > li > a:hover {
                color: #6d6d6d;
                background-color: #e4e2df;
            }

        .btn {
            text-transform: none;
        }
    </style>

</head>
<body>
    <input type="hidden" id="displayname" />
    <div class="panel panel-default">
        <div class="panel-heading">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab">Sheet Settings</a></li>

                <li class="saving" style="float:right;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving...</li>
                <li class="sync" style="float:right;"><span style="font-size:25px" class="glyphicon glyphicon-cloud"></span>Synced</li>

            </ul>
        </div>
        <div class="panel-body tab-content">
            <div class="tab-pane fade in active" id="home">
                <button type="button" id="downloadSheet" style="height:59px" class="btn btn-primary-outline">Download As Image</button>
                <button type="button" id="showEditorButton" style="height:59px" class="btn btn-primary-outline">Raw Editor</button>
                <a href="#" class="button" id="btn-download" download="@ViewBag.sheetTitle" style="display:none">Download</a>



            </div>

        </div>
    </div>
    <div id="canvasScrollPanel" style="overflow-y: scroll;overflow-x: hidden;position:relative; height:600px">
        <h2 style="padding:50px;text-align:center" id="titleOfSheet">@ViewBag.sheetTitle</h2>

        <div id="noteRawText" class="vex-tabdiv"
             width=1000 height=500 scale=1 editor="true"
             editor_width=680 editor_height=330>@ViewBag.notationText</div>


        </div>


        <div id="chatContainer">


            <div class="chat" id="{id}">
                <div class="chat-title" id="minimize">
                    <span>Chat</span>
                    <span id="chatcaret" class="caret"></span>
                    <style>
                        #chatcaret {
                            transform: rotate(180deg);
                        }
                    </style>

                    <div style="display:inline;float:right;">
                        <i class="fa fa-commenting"></i>
                        <span id="chatTicker" class="badge shoppingBadge shoppingBadge-custom">5</span>
                    </div>

                </div>
                <div class="chat-content" style="display:none;">
                    <div class="text text-higher"> </div>
                    <div class="chatbox">
                        <input type="text" id="message" class="form-control" style="padding:0px 10px" placeholder="Send a message with enter!" />
                        <input type="button" id="sendmessage" style="display:none" value="Send" />
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
