﻿    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/06dcdf9f9c.js"></script>
    <script src="~/Content/animsition.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald">
    <script src="~/Content/awesomplete.min.js"></script>
    <script src="~/Content/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/awesomplete.css"/>
    <link rel="stylesheet" href="~/Content/sweetalert.css" />
    <link rel="stylesheet" href="~/Content/myJS/layoutCSS.css"/>
    <script src="~/Content/jquery.bootstrap-autohidingnavbar.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    if ($("#message").length ) {
                        if ($("#message").val().trim() != "") {
                            $("#sendmessage").trigger('click');

                        }
                        else {
                            $("#message").val("");
                        }
                        
                    }
                    else {
                        event.preventDefault();
                        return false;
                    }
                }
                
            });
        });

      $("div.navbar-fixed-top").autoHidingNavbar();
    </script>
    
</head>

<style>
    header {
        /* We want the header to have a static height - it will always take up just as much space as it needs.  */
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
    }

    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .body-content {
        /* By setting flex-grow to 1, the main content will take up
            all of the remaining space on the page (the other elements have flex-grow: 0 and won't contest the free space). */
        /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 1 0 auto;
        padding-top: 63px;
    }

    footer {
        /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
    }



    footer {
        background-color: #1E5274;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 25px 50px;
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -khtml-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

        footer:hover {
            background-color: #18415C;
        }

        footer .footer-limiter {
            max-width: 880px;
            margin: 0 auto;
        }

        footer .footer-left p {
            color: #8f9296;
            font-size: 14px;
            margin: 0;
        }

        /* Footer links */

        footer p.footer-links {
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            margin: 0 0 10px;
            padding: 0;
        }

            footer p.footer-links a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
            }

        footer .footer-right {
            float: right;
            margin-top: 6px;
            max-width: 180px;
        }

            footer .footer-right a {
                display: inline-block;
                width: 35px;
                height: 35px;
                background-color: #33383b;
                border-radius: 2px;
                font-size: 20px;
                color: #ffffff;
                text-align: center;
                line-height: 35px;
                margin-left: 3px;
            }
</style>


<div class="navbar navbar-inverse navbar-fixed-top">

    <a style="font-family:'5thgradecursive-2';font-size:18pt;text-align:center;padding-top:27px;" id="logoText" class="navbar-brand" href="/">ComposeTogether</a>
    <style>
        .logoText{
            text-shadow: rgba(0,0,0,.01) 0 0 1px;
        }
    </style>
    <div class="container">
      
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        My Projects
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("View My Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("View Shared Projects", "SharedIndex", "Projects")</li>
                        <li>@Html.ActionLink("Create New Project", "Create", "Projects")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

</div>
<div class="container body-content">
    @RenderBody()
    <style>
        body{
           background-image:url("../../Content/staticimgs/paperbg.png");
        }
    </style>

    @RenderSection("SPAViews", required: false)

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
<footer>

    <div class="footer-limiter">

        <div class="footer-right">

            <a href="https://www.linkedin.com/in/arush-bazaei-13a831a4"><i class="fa fa-linkedin"></i></a>
            <a href="https://gitlab.com/abguitar565/composeTogether"><i class="fa fa-gitlab"></i></a>
        </div>

        <div class="footer-left">

            <p class="footer-links" onclick="swal(' ', 'Icons made by Freepik, from www.flaticon.com, licensed by CC 3.0')" >Info</p>

            <p>composeTogether © 2016</p>
        </div>

    </div>



</footer>





</html>
