﻿@using ComposeTogether.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    html{
}
body{
    background-color:#d7ccb7;
    opacity:0;
    overflow-x: hidden;
    background-size:100% 100%;
       -o-transition: background 1s linear,opacity 1s linear;
        -moz-transition: background 1s linear,opacity 1s linear;
        -khtml-transition: background 1s linear,opacity 1s linear;
        -webkit-transition: background 1s linear,opacity 1s linear;
        -ms-transition: background 1s linear,opacity 1s linear;
        transition:background 2s linear,opacity 1s linear;
    overflow-y:hidden;
}
body.ready{
    opacity:1;
}
    .row {
        margin-top: -500px;
        margin-left: 0px;
        margin-right: 0px;
        -o-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -khtml-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        transition:margin-top 0.8s ease-in-out, margin-left 1.4s ease-in-out,margin-right 2.6s ease-out, opacity .6s cubic-bezier(0.39, 0.1, 0.97, 1);

        

    }

        .row.ready {
            margin-top: 0px;
            opacity: 1;
           
        }

            .row.ready.gooff {
                margin-left: 2000px;
                margin-right: -2000px;
                opacity:0;
            }
</style>
<script>
    $(function () {
        var url = "../../Content/staticimgs/severance_hall-wallpaper-1920x1080.jpg";
        var img = new Image();

        $('body').css({ 'background-image': 'url(' + url + ')' });
        $('body').addClass('ready');

        img.src = url;
    });
    $(window).on('load', (function () {
        
        
        $('body').addClass('ready');
        setTimeout(function () {

            $('.row').addClass("ready");

        }, 1350);
        
    }));
    function gooff() {
        $('.row.ready').addClass("gooff");
        setTimeout(function () {
            location.href = '@Url.Action("Register", "Account")';
        }, 750);



    }
    
    
</script>


<body >


    <div class="row" style="background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));border-radius:5px; padding:25px;">
        <h2 style="color:white;">Log in</h2>
        <div>

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="color:white;"> All composers must create an account and login before exploring our website</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Email" style="color:white;font-size:14px;">Email</label>
                            <div class="col-md-10">
                                <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" style="background-color:transparent;color:white">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Password" style="color:white;font-size:14px;">Password</label>
                            <div class="col-md-10">
                                <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" style="background-color:transparent;color:white">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <input name="RememberMe" id="RememberMe" class="RememberMe" type="checkbox" value="false">
                                    @Html.LabelFor(m => m.RememberMe, new { @style = "color:white" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                                <button class="btn btn-primary" type="button" id="regbutton" style="background-color:#93c54b" onclick="gooff()">Register</button>

                            </div>
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                }
            </section>
        </div>

    </div>
</body>
<script>
    (function() {
        if (localStorage.getItem("firstVisit") === null || localStorage.getItem("firstVisit") == "true") {
            window.location = "/Home/Landing";
        }
    })();


</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .navbar {
        display: none;
    }

    footer {
        background-color: rgba(30, 82, 116, 0.78);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 5px 50px;
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -khtml-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

        footer:hover {
            background-color: #18415C;
            padding: 15px 50px;
        }
</style>