﻿html { 
  background: url(~/Content/staticimgs/New_York_State_Theater_by_David_Shankbone.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}