﻿@model ComposeTogether.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
   body{
    opacity:0;
    background-color:#d7ccb7;
    overflow-x: hidden;
    background-size:100% 100%;
    -o-transition: background 1s linear,opacity 1s linear;
        -moz-transition: background 1s linear,opacity 1s linear;
        -khtml-transition: background 1s linear,opacity 1s linear;
        -webkit-transition: background 1s linear,opacity 1s linear;
        -ms-transition: background 1s linear,opacity 1s linear;
        transition:background 2s linear,opacity 1s linear;
    overflow-y:hidden;
}
body.ready{
    opacity:1;
}
    .row {
        opacity: 1;
        margin-top: 0px;
        margin-left: -1800px;
        margin-right: 1800px;
        -o-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -khtml-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        transition: margin-top 0.8s ease-in-out, margin-left 1.2s ease-in-out,margin-right 1.1s ease-out, opacity .6s cubic-bezier(0.39, 0.1, 0.97, 1);
    }

        .row.ready {
            margin-left:0px;
            margin-right: 0px;
            opacity:1;
        }

            .row.ready.gooff {
                margin-top: -500px;
                opacity: 0;
            }

    .navbar {
        display: none;
    }

    footer {
        background-color: rgba(30, 82, 116, 0.78);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 5px 50px;
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -khtml-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

        footer:hover {
            background-color: #18415C;
            padding: 15px 50px;
        }
</style>



    <body>
            <div class="row" style="color:white;background:linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)); border-radius:5px;padding:25px;">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4>Join a legacy of composers</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                            <button class="btn btn-primary" type="button" id="backtoLogin" style="background-color:#93c54b" onclick="gooff()">Whoops, I have an account</button>   
                        </div>

                    </div>
                }
            </div>

   
</body>
<script>
    $(function () {
        var url = "../../Content/staticimgs/composersOfthe30th.jpg";
        var img = new Image();

        $('body').css({ 'background-image': 'url(' + url + ')' });
        $('body').addClass('ready');

        img.src = url;
    });
    $(window).on('load', (function () {


        $('body').addClass('ready');
        setTimeout(function () {

            $('.row').addClass("ready");

        }, 1350);
        
    }));
    function gooff() {
        $('.row.ready').addClass("gooff");
        setTimeout(function () {
            location.href = '@Url.Action("Login", "Account")';
            
        }, 750);



    }
</script>


